@charset "ISO-8859-1";




nav{

	width: 100%;
	background-color: #f5ba4b;
}

.menu {
	list-style:none;
}

.menu li{
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	position: relative;
}

.menu a{
	display: block;
	padding: 15px 30px;
	text-decoration: none;
	color: #222;
	transition: .3s;
}

.menu a:hover{
	background: #fff;
	color: #222;
}

.submenu{
	padding: 0px 0px;
	position:absolute;
	border: 1px solid #f5ba4b;
	border-bottom: none;
	visibility: hidden;
	opacity:0;
	left:0px;
}

.menu .has-children:hover .submenu{
	transition: .1s;
	visibility: visible;
	opacity:1;
}

.submenu li{
	width:100%;
	font-size:12px;
	border-bottom: 1px solid #f5ba4b;
	background-color: #faebd7;
}

.submenu a{
	display:block;
	color: #222;
	left:0;
}

.submenu a:hover{
	background: #f5ba4b;
	color: #808080;
}