@charset "ISO-8859-1";



#caratteristiche{
	background: rgb(238, 238, 238);
	width:200px;
	padding: 10px;
	box-shadow: 5px 5px 10px 2px #333333;
	-webkit-box-shadow: 5px 5px 10px 2px #333333;
	-moz-box-shadow: 5px 5px 10px 2px #333333;
	color: red;
}